# eda

In [12]:
import pandas as pd
df=pd.read_csv("/Users/rithvik/Desktop/College/CVA/bostoncrime/bostoncrimedata2018.csv")
df.head(500)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192074715,2629,Harassment,HARASSMENT,B2,278,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Two,HARRISON AVE,42.331538,-71.080157,"(42.33153805, -71.08015661)"
1,I192068538,1107,Fraud,FRAUD - IMPERSONATION,D14,794,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Two,GLENVILLE AVE,42.349780,-71.134230,"(42.34977988, -71.13423049)"
2,I192005657,2610,Other,TRESPASSING,C11,396,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Two,MELBOURNE ST,42.291093,-71.065945,"(42.29109287, -71.06594539)"
3,I192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Three,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)"
4,I192013179,619,Larceny,LARCENY ALL OTHERS,C11,360,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part One,CENTERVALE PARK,42.296323,-71.063569,"(42.29632282, -71.06356881)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,I182000519,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,B2,294,NaN,2018-01-03 00:05:00,2018,1,Wednesday,0,Part One,ALPINE ST,42.326429,-71.086288,"(42.32642853, -71.08628759)"
496,I182000519,617,Larceny,LARCENY THEFT FROM BUILDING,B2,294,NaN,2018-01-03 00:05:00,2018,1,Wednesday,0,Part One,ALPINE ST,42.326429,-71.086288,"(42.32642853, -71.08628759)"
497,I182000516,3111,License Violation,LICENSE PREMISE VIOLATION,D4,597,NaN,2018-01-03 00:07:00,2018,1,Wednesday,0,Part Three,COLUMBUS AVE,42.339618,-71.082856,"(42.33961848, -71.08285580)"
498,I182000525,3304,Assembly or Gathering Violations,NOISY PARTY/RADIO-NO ARREST,C6,913,NaN,2018-01-03 00:10:00,2018,1,Wednesday,0,Part Three,WESTWIND RD,42.320681,-71.042696,"(42.32068100, -71.04269590)"
499,I182000525,2403,Disorderly Conduct,DISTURBING THE PEACE,C6,913,NaN,2018-01-03 00:10:00,2018,1,Wednesday,0,Part Two,WESTWIND RD,42.320681,-71.042696,"(42.32068100, -71.04269590)"

In [2]:
df.dtypes

INCIDENT_NUMBER         object
OFFENSE_CODE             int64
OFFENSE_CODE_GROUP      object
OFFENSE_DESCRIPTION     object
DISTRICT                object
REPORTING_AREA          object
SHOOTING                object
OCCURRED_ON_DATE        object
YEAR                     int64
MONTH                    int64
DAY_OF_WEEK             object
HOUR                     int64
UCR_PART                object
STREET                  object
Lat                    float64
Long                   float64
Location                object
dtype: object

In [3]:
df.info

<bound method DataFrame.info of       INCIDENT_NUMBER  OFFENSE_CODE    OFFENSE_CODE_GROUP  \
0          I192074715          2629            Harassment
1          I192068538          1107                 Fraud
2          I192005657          2610                 Other
3          I192075335          3208         Property Lost
4          I192013179           619               Larceny
...               ...           ...                   ...
98883      I182105272          3006    Medical Assistance
98884      I192000256          1402             Vandalism
98885      I192000003          3006    Medical Assistance
98886      I192000002          3114  Investigate Property
98887      I192000425          1402             Vandalism

                 OFFENSE_DESCRIPTION DISTRICT REPORTING_AREA SHOOTING  \
0                         HARASSMENT       B2            278      NaN
1              FRAUD - IMPERSONATION      D14            794      NaN
2                        TRESPASSING      C11            396      NaN
3                 PROPERTY - MISSING       D4            132      NaN
4                 LARCENY ALL OTHERS      C11            360      NaN
...                              ...      ...            ...      ...
98883  SICK/INJURED/MEDICAL - PERSON      E18            555      NaN
98884                      VANDALISM       E5            564      NaN
98885  SICK/INJURED/MEDICAL - PERSON      D14            773      NaN
98886           INVESTIGATE PROPERTY       D4            620      NaN
98887                      VANDALISM       B2            318      NaN

          OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  HOUR    UCR_PART  \
0      2018-01-01 00:00:00  2018      1      Monday     0    Part Two
1      2018-01-01 00:00:00  2018      1      Monday     0    Part Two
2      2018-01-01 00:00:00  2018      1      Monday     0    Part Two
3      2018-01-01 00:00:00  2018      1      Monday     0  Part Three
4      2018-01-01 00:00:00  2018      1      Monday     0    Part One
...                    ...   ...    ...         ...   ...         ...
98883  2018-12-31 23:26:00  2018     12      Monday    23  Part Three
98884  2018-12-31 23:30:00  2018     12      Monday    23    Part Two
98885  2018-12-31 23:38:00  2018     12      Monday    23  Part Three
98886  2018-12-31 23:41:00  2018     12      Monday    23  Part Three
98887  2018-12-31 23:45:00  2018     12      Monday    23    Part Two

                 STREET        Lat       Long                     Location
0          HARRISON AVE  42.331538 -71.080157  (42.33153805, -71.08015661)
1         GLENVILLE AVE  42.349780 -71.134230  (42.34977988, -71.13423049)
2          MELBOURNE ST  42.291093 -71.065945  (42.29109287, -71.06594539)
3      COMMONWEALTH AVE  42.353522 -71.072838  (42.35352153, -71.07283786)
4       CENTERVALE PARK  42.296323 -71.063569  (42.29632282, -71.06356881)
...                 ...        ...        ...                          ...
98883         POPLAR ST  42.277147 -71.125124  (42.27714676, -71.12512415)
98884     WASHINGTON ST  42.294217 -71.119853  (42.29421690, -71.11985262)
98885       KIRKWOOD RD  42.341269 -71.157506  (42.34126852, -71.15750565)
98886       BOYLSTON ST  42.347102 -71.088417  (42.34710196, -71.08841746)
98887     BROOKLEDGE ST  42.308412 -71.088381  (42.30841201, -71.08838073)

[98888 rows x 17 columns]>

In [5]:
df.isnull().sum()

INCIDENT_NUMBER            0
OFFENSE_CODE               0
OFFENSE_CODE_GROUP         0
OFFENSE_DESCRIPTION        0
DISTRICT                 682
REPORTING_AREA             0
SHOOTING               98486
OCCURRED_ON_DATE           0
YEAR                       0
MONTH                      0
DAY_OF_WEEK                0
HOUR                       0
UCR_PART                  20
STREET                  1614
Lat                     6755
Long                    6755
Location                6755
dtype: int64

In [6]:
df['SHOOTING'].value_counts()

SHOOTING
Y    402
Name: count, dtype: int64

In [10]:
df.describe()

,OFFENSE_CODE,YEAR,MONTH,HOUR,Lat,Long
count,98888.000000,98888.0,98888.000000,98888.000000,92133.000000,92133.000000
mean,2353.570949,2018.0,6.554789,13.046811,42.321937,-71.083059
std,1177.755377,0.0,3.360010,6.273042,0.031962,0.029647
min,111.000000,2018.0,1.000000,0.000000,42.232413,-71.178674
25%,1102.000000,2018.0,4.000000,9.000000,42.297337,-71.097466
50%,3006.000000,2018.0,7.000000,14.000000,42.325559,-71.077782
75%,3201.000000,2018.0,9.000000,18.000000,42.348389,-71.062674
max,3831.000000,2018.0,12.000000,23.000000,42.395042,-70.995362

In [11]:
print(df.describe(include='all'))

       INCIDENT_NUMBER  OFFENSE_CODE               OFFENSE_CODE_GROUP  \
count            98888  98888.000000                            98888
unique           86734           NaN                               61
top         I182051210           NaN  Motor Vehicle Accident Response
freq                14           NaN                            11647
mean               NaN   2353.570949                              NaN
std                NaN   1177.755377                              NaN
min                NaN    111.000000                              NaN
25%                NaN   1102.000000                              NaN
50%                NaN   3006.000000                              NaN
75%                NaN   3201.000000                              NaN
max                NaN   3831.000000                              NaN

                  OFFENSE_DESCRIPTION DISTRICT REPORTING_AREA SHOOTING  \
count                           98888    98206          98888      402
unique                            185       12            877        1
top     SICK/INJURED/MEDICAL - PERSON       B2                       Y
freq                             6812    15658           6746      402
mean                              NaN      NaN            NaN      NaN
std                               NaN      NaN            NaN      NaN
min                               NaN      NaN            NaN      NaN
25%                               NaN      NaN            NaN      NaN
50%                               NaN      NaN            NaN      NaN
75%                               NaN      NaN            NaN      NaN
max                               NaN      NaN            NaN      NaN

           OCCURRED_ON_DATE     YEAR         MONTH DAY_OF_WEEK          HOUR  \
count                 98888  98888.0  98888.000000       98888  98888.000000
unique                71235      NaN           NaN           7           NaN
top     2018-01-01 00:00:00      NaN           NaN      Friday           NaN
freq                     25      NaN           NaN       14974           NaN
mean                    NaN   2018.0      6.554789         NaN     13.046811
std                     NaN      0.0      3.360010         NaN      6.273042
min                     NaN   2018.0      1.000000         NaN      0.000000
25%                     NaN   2018.0      4.000000         NaN      9.000000
50%                     NaN   2018.0      7.000000         NaN     14.000000
75%                     NaN   2018.0      9.000000         NaN     18.000000
max                     NaN   2018.0     12.000000         NaN     23.000000

          UCR_PART         STREET           Lat          Long  \
count        98868          97274  92133.000000  92133.000000
unique           4           3579           NaN           NaN
top     Part Three  WASHINGTON ST           NaN           NaN
freq         51068           4605           NaN           NaN
mean           NaN            NaN     42.321937    -71.083059
std            NaN            NaN      0.031962      0.029647
min            NaN            NaN     42.232413    -71.178674
25%            NaN            NaN     42.297337    -71.097466
50%            NaN            NaN     42.325559    -71.077782
75%            NaN            NaN     42.348389    -71.062674
max            NaN            NaN     42.395042    -70.995362

                           Location
count                         92133
unique                        13062
top     (42.34862382, -71.08277637)
freq                            437
mean                            NaN
std                             NaN
min                             NaN
25%                             NaN
50%                             NaN
75%                             NaN
max                             NaN